* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Young Serif;
  src: url(../font/YoungSerif-Regular.ttf);
}
@font-face {
  font-family: Outfit;
  src: url(../font/Outfit-VariableFont_wght.ttf);
}

:root {
  --black: #000000;
  --color-link: #5364c5;
  --primary-color: #f9fafc;
  --white: #ffffff;
  --border-color: #d2d5da;
}

body {
  width: 100wh;
  height: 100vh;
  font-family: Young Serif;
  font-size: 2rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: var(--color-link);
}

.container {
  display: block;
  padding: 36px;
}

.title {
  text-align: center;
}
h1 {
  font-size: 2rem;
}

.title p {
  font-size: 1rem;
  margin-top: 32px;
  margin-bottom: 72px;
}
.question {
  font-family: Outfit;
  background: var(--primary-color);
}

h2 {
  padding: 48px 0;
  font-size: 1.5rem;
}

.question p {
  font-size: 1.5rem;
}

ul,
ol {
  list-style-position: outside;
  margin-left: 28px;
  padding: 40px 0;
}
li {
  font-size: 1.5rem;
}

/* ================  FOOTER  ============== */

footer {
  padding: 3rem 0;
}
.attribution {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  font-size: 1rem;
  color: var(--text-color);
}
.attribution p {
  font-weight: 700;
}
.attribution a {
  font-style: italic;
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 375px) and (max-width: 1024px) {
  .container {
    display: flex;
    flex-direction: column;

    align-items: center;
  }
}

@media screen and (min-width: 1025px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .question {
    width: 50%;
  }
}
